@font-face {
  font-family: "HankenGrotesk-VariableFont_wght";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  /* Primary colors */
  --light-red: hsl(0, 100%, 67%);
  --rangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue-background: hsla(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);

  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
html {
  font-size: 10px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "HankenGrotesk-VariableFont_wght";
  font-size: 1.6rem;
  background-color: var(--white);
}
svg {
  width: 1.5rem;
}
button {
  width: 100%;
  padding: 15px 0;
  background-color: var(--dark-gray-blue);
  color: var(--pale-blue);
  border: none;
  border-radius: 20px;
  margin-top: 7px;
  cursor: pointer;
  font-size: 1.8rem;
}
button:active {
  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
}

.gradient {
  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
}

/* || Classes */
.result {
  max-width: 100%;
  padding: 15px 25px;
  background-image: linear-gradient(
    to top,
    var(--light-royal-blue-background),
    var(--light-slate-blue-background)
  );
  border-radius: 20px;
  text-align: center;
  color: var(--light-lavender);
}
.result_percent {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    var(--persian-blue-circle),
    var(--violet-blue-circle)
  );
  margin: 0 auto;
}
.result_percent p {
  margin: 0;
}
.result_number {
  color: var(--white);
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}
.summary {
  padding: 15px 25px;
}
.summary_reaction {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0 20px;
  border-radius: 10px;
  margin: 10px 0;
}
.stats {
  display: flex;
  align-items: center;
  gap: 5px;
}
.total_points {
  color: var(--dark-gray-blue);
}
.user_total {
  font-weight: 600;
}

/* || Utility Classes */
.text-white {
  color: var(--white);
}
.text-large {
  font-size: 4rem;
}
.text-md-thick {
  font-weight: 500;
}
.text-thick {
  font-weight: 600;
}
.text-small {
  font-size: 1.4rem;
}

/* || Text Colors */
.text-red {
  color: var(--light-red);
}
.text-yellow {
  color: var(--rangey-yellow);
}
.text-light-teal {
  color: var(--green-teal);
}
.text-cobalt-blue {
  color: var(--cobalt-blue);
}

/* || Background Colors */
.bg-light-red {
  background-color: hsla(0, 100%, 67%, 0.07);
}
.bg-light-yellow {
  background-color: hsl(39, 100%, 56%, 0.1);
}
.bg-light-green {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.bg-light-blue {
  background-color: hsla(234, 85%, 45%, 0.05);
}

/* || Media Screens */
@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: flex;
    max-width: 900px;
    box-shadow: 10px 10px 15px var(--pale-blue);
    border-radius: 20px;
  }
  .result {
    flex: 1;
  }
  .summary {
    flex: 1;
  }
}
